## Quiz    

ALX Udacity Data Analyst Nanodegree quiz : gathering

In [5]:
from bs4 import BeautifulSoup
import os
import pandas as pd

In [16]:
# List of dictionaries to build file by file and later convert to a DataFrame
df_list = []
folder = 'rt-html/rt_html'
for movie_html in os.listdir(folder):
    with open(os.path.join(folder, movie_html)) as file:
        soup = BeautifulSoup(file)
        title = soup.find('title').contents[0][:-len(' - Rotten Tomatoes')].replace(u'\xa0', u' ')
        audience_score = soup.find('div',class_='audience-score meter').find('span').contents[0][:-1]
        number_of_audience_ratings=soup.find('div', class_='audience-info hidden-xs superPageFontColor').find_all('div')[1].contents[2].strip().replace(",","")
        
    # Append to list of dictionaries
    df_list.append({'title' : title,
                    'audience_score': int(audience_score),
                    'number_of_audience_ratings': int(number_of_audience_ratings)})

In [17]:
df = pd.DataFrame(df_list, columns = ['title', 'audience_score', 'number_of_audience_ratings'])

In [18]:
df

,title,audience_score,number_of_audience_ratings
0,The Night of the Hunter (1955),90,24322
1,The Cabinet of Dr. Caligari (Das Cabinet des D...,89,27163
2,The Big Sick (2017),90,23391
3,Metropolis (1927),92,62018
4,The 39 Steps (1935),86,23647
...,...,...,...
95,All About Eve (1950),94,44564
96,The Bride of Frankenstein (1935),87,24471
97,Sunset Boulevard (1950),95,52783
98,Rebecca (1940),92,39026
99,King Kong (1933),86,89669

## Summary
We extracted title', 'audience_score', 'number_of_audience_ratings from all downloaded html files from 'rt-html/rt_html' folder and appended them to a list(df_list). A dataFrame was created using  ['title', 'audience_score', 'number_of_audience_ratings']) as columns form our df_list