<a href="https://colab.research.google.com/github/philipobiorah/alx_udacity_data_analyst/blob/main/Counting_Missing_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

If you have a large dataframe with a few missing values (None or a numpy.NaN), you can count the number of missing values across the given label. You can use either of the two analogous functions listed below for this purpose:

pandas.DataFrame.isna()

pandas.DataFrame.isnull()

Load the dataset

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sb
%matplotlib inline

In [ ]:
sales_data =pd.read_csv('/content/drive/MyDrive/mount_d/sales-data.csv')
sales_data.head(10)

In [ ]:
# Examine the shape of the dataframe. How many rows and columns ?
sales_data.shape

8190 rows x 12 columns

In [ ]:
# Count of columns where we have values NaN
sales_data.isnull().sum()

What if we want to see how many missing values there are?
One intriguing application of bar charts is the visualization of missing data. We could use the variable names as levels of a categorical variable and generate a bar plot as a result. However, because the data is not in its neat, unsummarized form, we must use a different plotting function. Seaborn's barplot function was designed to display a summary of one quantitative variable versus levels of a second, qualitative variable, but it can also be used here.

###Prepare a NaN tabular data

In [ ]:
#Let drop the column that do not have any NaN/None values
na_counts = sales_data.drop(['Date', 'Temperature', 'Fuel_Price'], axis=1).isna().sum()
na_counts

###Use seaborn.barplot() : Plot the bar chart from the NaN tabular data, and also print values on each bar

In [ ]:
# The first argument to the function below contains the x-values (column names),
# the second argument the y-values (our counts).
# Refer to the syntax and more example here - https://seaborn.pydata.org/generated/seaborn.barplot.html
sb.barplot(na_counts.index.values, na_counts, color='blue')
# get the current tick locations and the ables 
plt.xticks(rotation=90)

#Logic to print value on each bar
for i in range (na_counts.shape[0]):
  count = na_counts[i] 
  # Refer here for details of the text() - https://matplotlib.org/3.1.1/api/_as_gen/matplotlib.pyplot.text.html
  plt.text(i, count+300, count, ha = 'center', va='top')